/* Global*/
body{
	font-family: Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

p{

}


/* Home Page*/




/* Bio Page*/


.bio h2,
.bio h3{
	font-family: Georgia, Times, 'Times New Roman', serif;
}

.bio h1{
	text-transform: uppercase;
	letter-spacing: 2px;
}

.bio article{
	background: teal;
	margin: 0 auto;
	width: 100px;

}

}

.bio h2{
	text-transform: uppercase;
	letter-spacing: 2px;
}

.bio section{
	float: left;
	width: 50%;

}

/* Style Tile*/



